.container {
    width: 100%;
    max-width: calc(1200px + 12px * 2);
    padding: 0 12px;
    margin: 0 auto;
}
.primary-color {
    color: #fcc000;
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
::placeholder {
    color: rgba(255, 255, 255, 0.4);
}
