/* header */
.header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    background-color: rgba(13, 17, 27, 0.95);
    backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.4s;
}
.header.scroll-active {
    height: 70px;
    opacity: 1;
    visibility: visible;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .header.scroll-active {
        height: 100px;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

/* footer */
.footer {
    font-size: 1.2rem;
    text-align: center;
    color: var(--quaternary-color);
    padding: 60px 0 30px;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .footer {
        font-size: 1.4rem;
        padding: 120px 0 40px;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

/* logo */
.logo-wrap {
    display: inline-flex;
    align-items: center;
}
.logo {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/logo.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo-txt {
    display: none;
    font-size: 3rem;
    font-weight: 900;
}
.logo-wrap .logo-txt {
    padding-left: 16px;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .logo {
        width: 64px;
        height: 64px;
    }
    .logo-txt {
        display: block;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

/* search */
.search {
    display: flex;
    gap: 10px;
    align-content: center;
    max-width: 260px;
    width: 100%;
}
.search__input {
    width: calc(100% - 50px);
    flex: 1 0 auto;
    height: 40px;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--tertiary-color);
    padding: 10px 20px;
    border-radius: 4px;
}
.search__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;
}
.search__btn [class*="material-symbols"] {
    font-size: 2rem;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .search {
        max-width: 400px;
        width: 100%;
    }
    .search__input {
        width: calc(100% - 60px);
        height: 50px;
    }
    .search__btn {
        width: 50px;
        height: 50px;
    }
    .search__btn [class*="material-symbols"] {
        font-size: 2.8rem;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

/* search-section */
.search-section {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 500px;
    height: 50vh;
    background-color: rgba(13, 17, 27, 0.9);
    padding: 60px 0 100px;
}
.search-section::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/visual-img.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.search-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-box {
    max-width: 600px;
    width: 100%;
}
.search-box .logo {
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
}
.search-box__con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.search-box__tit {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1.1;
}
.search-box__txt {
    font-size: 1.4rem;
    color: var(--quaternary-color);
    margin-top: 20px;
}
.search-box .search {
    max-width: none;
    width: 100%;
    margin-top: 40px;
}
.search-box .search__input,
.search-box .search__btn {
    height: 50px;
}
.search-box .search__input {
    width: calc(100% - 60px);
    background-color: var(--tertiary-color);
}
.search-box .search__btn {
    width: 50px;
}
.search-box .search__btn [class*="material-symbols"] {
    font-size: 2.6rem;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .search-section {
        min-height: 800px;
        height: 80vh;
    }
    .search-box .logo {
        width: 80px;
        height: 80px;
        margin-bottom: 30px;
    }
    .search-box__tit {
        font-size: 5rem;
    }
    .search-box__txt {
        font-size: 1.6rem;
    }
    .search-box .search {
        margin-top: 60px;
    }
    .search-box .search__input,
    .search-box .search__btn {
        height: 60px;
    }
    .search-box .search__input {
        width: calc(100% - 70px);
    }
    .search-box .search__btn {
        width: 60px;
    }
    .search-box .search__btn [class*="material-symbols"] {
        font-size: 3.2rem;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

/* list-section */
.list-section {
    position: relative;
    z-index: 1;
    margin-top: -40px;
}
.movie-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
}
.movie-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.movie-item__img {
    width: 100%;
    aspect-ratio: 2/3;
    background-color: var(--quaternary-color);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.movie-item__con {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    transition: bottom ease-in-out 0.4s;
}
.movie-item:hover .movie-item__con {
    bottom: 0;
}
.movie-item__tit {
    font-size: 2rem;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.movie-item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 10px 0;
}
.movie-item__rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
}
.movie-item__rating [class*="material-symbols"] {
    font-size: 2rem;
}
.movie-item__txt {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}
@media (min-width: 390px) {
    .movie-items {
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-item__info {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }
    .movie-item__rating {
        margin-bottom: 4px;
    }
}
@media (min-width: 576px) {
    .movie-item__info {
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }
    .movie-item__rating {
        margin-bottom: 4px;
    }
}
@media (min-width: 768px) {
    .list-section {
        margin-top: -80px;
    }
    .movie-items {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
    .movie-item__con {
        padding: 26px;
    }
    .movie-item__tit {
        font-size: 2.2rem;
    }
    .movie-item__rating {
        margin-bottom: 0;
    }
}
@media (min-width: 992px) {
    .movie-items {
        grid-template-columns: repeat(4, 1fr);
    }
    .movie-item__con {
        position: absolute;
        bottom: -100%;
        left: 0;
        height: 100%;
    }
}
@media (min-width: 1200px) {
}
